!!! 5
%html{ "ng-app"=>"", }
	%head
		%title= "Index"
		%meta{ :content => "", :name => "description" }
		%meta{ :content => "", :name => "author" }
		%meta{ :content => "3 days", :name => "revisit-after" }
		%link{ :href => "http://creativecommons.org/licenses/by/3.0/", :rel => "license", :title => "Creative Commons Attribution 3.0 Unported License" }
		%link{ :href => "/feed", :rel => "alternate", :title => "Atom", :type => "application/atom+xml" }
		%link{ :href => "/css/bootstrap.min.css", :media => "screen", :rel => "stylesheet" }
		%link{ :href => "/css/docs.min.css", :media => "screen", :rel => "stylesheet" }
		%link{ :href => "/css/style.sass.css", :media => "screen", :rel => "stylesheet" }
		%link{ :href => "/css/screen.css", :media => "screen", :rel => "stylesheet" }
		%script{ :src => "/js/angular.min.js" }
	%body
		.container

			.bs-callout.bs-callout-info
				%h4
					Don't mix with other components
				%p
					Icon classes cannot be directly combined with other components. They should not be used along with other classes on the same element. Instead, add a nested.

			%header
				%nav
					%ul
						%li= "About"
						%li= "Queue"
						%li= "Share"
			%section
				%article
					%header

						.alert.alert-success
							You's a WINNER!

						%ol.breadcrumb
							%li
								%a{ :href => "#" }
									Home
							%li
								%a{ :href => "#" }
									Library
							%li{ :class => "active", }
								Data

						%button.btn.btn-info.btn-lg{ "data-toggle" => "modal", "data-target" => "#myModal" }
							Launch Demo Modal

						%br
						%br

						.modal.fade{ :id => "myModal", :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
							.modal-dialog
								.modal-content
									.modal-header
										%button{ :type => "button", :class => "close", "data-dismiss" => "modal", "aria-hidden" => "true", :style => "background-color:#ccc;width:32px;height:32px;border-radius:16px;" }
											%span{ :style => "position:relative;top:-2px;color:#222" }
												&times;
										%h4.modal-title#myModalLabel
											Modal Title
									.modal-body
										%button{ :type => "button", :class => "btn btn-default", "data-dismiss" => "modal" }
											Close

						.progress
							.progress-bar.progress-bar-success{ :role => "progressbar", "aria-valuenow" => "40", "aria-valuemin" => "0", "aria-valuemax" => "100", :style => "width: 40%" }
							%span.sr-only
								40% Complete

						.panel.panel-success
							.panel-heading
								%h3.panel-title
									Panel Title
							.panel-body
								Panel content.

						%span.label.label-danger
							Beep!
						
						%h2= "SpoonRocket Notifier"

						%h5= "Enter your email for whenever SpoonRocket is out of food. We'll notify you as soon as they're in stock again!"
						
						%input{ :type => "text", :class => "form-control col6", :placeholder => "Enter your email..", }
						
						%button{ :type => "button", :class => "btn btn-warning", :style => "width:100px;height:100px;border-radius:50px;" }
							%span{ :class => "glyphicon glyphicon-bell", :style => "font-size:2.4em;" }
							%br
							%span{ :style => "font-size:1.0em;" }
								Get Notified
						
						%button{ :style => "background-color:orange;width:40px;height:40px;line-height:40px;border-radius:20px;text-align:center;border:0;margin:2px;" }
							%span{ :class => "glyphicon glyphicon-inbox", :style => "color:white;font-size:1.3em;position:relative;top:3px;left:1px;", }

						.btn-group
							%button{ :type => "button", :class => "btn btn-success dropdown-toggle", "data-toggle" => "dropdown", }
								Action
							%ul.dropdown-menu{ :role => "menu", }
								%li
									%a{ :href => "#", }
										Something
			%footer
				%p
					Copyright 2011 My Name

			%script{ :src => "/js/jquery-1.10.2.min.js" }
			%script{ :src => "/js/bootstrap.min.js" }
			%script{ :src => "/js/script.js" }




